* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: grey;
}

/* .container {
  display: grid;
  grid-template-columns: 10% 90%;
} */
.container {
  display: flex;
  gap: 1.5rem;
}

.btn {
  background-color: blue;
  color: white;
  font-weight: bold;
  border-radius: 7px;
  border: transparent;
  width: 5rem;
}

section {
  margin: 0 auto;
  max-width: 1120px;
  width: 90vw;
}
/* .overall {
  margin-bottom: 2rem;
} */

.comment-section {
  width: 90%;
  background-color: white;
  box-shadow: 15px, 15px, 5px;
  border-radius: 10px;
  padding: 2rem;
  position: relative;
  margin-bottom: 0.5rem;
}

.btn-container {
  max-width: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: grey;
  border-radius: 2rem;
  align-items: center;
}

.btn-container button {
  background: transparent;
  border: none;
  font-size: 20px;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user_avater {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.replied-container {
  display: grid;
  grid-template-columns: 5% 95%;
  /* gap: 0.5rem; */
}

.replied-divid {
  height: 100%;
  width: 1px;
  border: 1px solid red;
  margin-left: 2rem;
}

.input-section {
  position: relative;
  width: 90%;
  /* height: 6rem; */
  background-color: white;
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  gap: 1.5rem;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
}

.input-section input {
  width: 100%;
  border-radius: 0.3rem;
  padding: 1.5rem;
  border: 2px solid grey;
}

.input-section button {
  padding: 0.7rem 2rem;
}

.Edit {
  display: flex;
  flex-direction: column;
}

.update-btn {
  align-self: flex-end;
}
@media screen and (max-width:760px) {
  .container{
    gap: 0.5rem;
  }
  .comment-section{
    font-size: 12px;
    padding: 0.5rem;
    flex-direction: column;
    flex-wrap: wrap;

  }
  .btn-container{
    order: 1;
    flex-direction: row;
  }
  .reply-button,.input-section button{
    position: absolute;
    bottom :0.5rem;
    right: 0.3rem;
  }
  .input-section{
    flex-direction: column;
  }
    .input-section button {
      padding: 0.7rem;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
    }
  /* .input-section button{
      align-self: flex-end;
      order: 1;
    } */
  .input-section img{
    order: 1;
    height: 1.7rem;
    width: 1.7rem;
  }
    .user_avater{
      gap: 0.5rem;
    }
  .replied-divid{
    margin-left: 0;
  }
  
}